extends layout 

block content 
  h1.text-center=title 

  form(action="/inventory/categories/create", method="post")
    label.form-label(for="name") Name 
    input.form-control.mb-2(type="text", name="name", placeholder="Category name")
    button.btn.btn-primary(type="submit") Create
    if errors 
      ul 
        for error in errors 
          li!= error.msg 