extends layout

block content
  div.h-100.w-100.d-flex.flex-column.justify-content-center.align-items-center
    h1.mb-3= title
    p Go to 
      a(href='/inventory' class='btn btn-primary') Inventory