extends layout 

block content 

  h1.text-center=title 
  h2.text-primary=item.name 

  p Are you sure you want to delete #{item.name}?

  form(action="", method="post") 
    input#itemid(type="hidden" name='itemid', required='true', value=item._id)
    button.btn.btn-danger(type="submit") Delete