extends layout 

block content 
  h1=title 

  form(action="/inventory/manufacturers/create", method="post")
    label(for="name") Name 
    input(type="text", name="name", placeholder="Manufacturer name")
    button(type="submit") Create
    if errors 
      ul 
        for error in errors 
          li!= error.msg 