extends layout

block content 
  h1=title 

  ul 
    each manufacturer in manufacturers 
      li
        p 
          a(href=manufacturer.url) #{manufacturer.name}
    
    else 
      p No manufacturers.

  a(class='btn btn-primary' href='/inventory/manufacturers/create') New